body {
    font-family: 'Rubik', sans-serif !important; font-weight: bold !important;
}

/* ul li {
    list-style-type: none;
}

ul {
    
} */

@media (min-width: 992px) {

    .navbar-expand-lg .navbar-collapse {
        justify-content: end;
    }

}

/* .navbar {
    background-color: rgb(44,62,80);
} */

.bg-dark2 {
    background-color: rgb(44,62,80);
}

img {
    width: 50%;
    display: block;
    margin: auto;
}

.row  img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 1rem;
}

.bg-green-section {
    background-color: rgb(26,188,156);
}


.line-star-white {
    height: 0.2rem;
    width: 4rem;
    background-color: white;
    padding: 0;
}

.line-star-black {
    height: 0.2rem;
    width: 4rem;
    background-color: rgb(0, 0, 0);
    padding: 0;
}